@use "variables";

/* =========================
   RESET
========================= */

/* Box model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* HTML & body */
html {
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  text-rendering: optimizeSpeed;
}

/* Media elements */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Forms */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Lists */
ul,
ol {
  list-style: none;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* =========================
   BASE
========================= */

body {
  min-height: 100vh;
  font-family: variables.$font-base;
  font-weight: variables.$weight-light;
  font-size: 16px;
  line-height: 1.7;
  color: variables.$color-text-primary;
  background: variables.$color-bg-main;
}

.container {
  width: variables.$container-width;
  max-width: 100%;
  padding-inline: variables.$container-padding;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: variables.$font-heading;
  font-weight: variables.$weight-bold;
  color: variables.$color-text-primary;
  line-height: 1.2;
}

h1 {
  font-size: clamp(32px, 4vw, 51px);
}
h2 {
  font-size: clamp(26px, 3.2vw, 40px);
}
h3 {
  font-size: clamp(20px, 2.2vw, 25px);
}
h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}
p {
  font-size: 16px;
  line-height: 1.7;
}
